body{
   background-color: rgb(251, 237, 237);
   color:rgb(251, 0, 0);
   height:200px;
}
#selector{
    background-color:transparent;
    backdrop-filter:blur(20px);

}
#cous{
   
    height:500px;
    width:1400px;
    margin-top:400px;
    margin-left:20px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow-x: auto;
   margin-right:-4px;
}
#cous::-webkit-scrollbar{
    display: none;
}
#group{
    display:flex;
    gap:5em;
}
#carr{
    height:400px;
    width:400px;
    background-color:rgb(224, 6, 6);
    animation: scroll 5s alternate infinite;
   animation-timeline:view();
    border-radius:20% 50%/50% 20%;
    color:rgb(255, 255, 255);
    align-content: flex-start;
    justify-content:flex-start;
    font-size:200%;
    font-family:arial;
    font-weight: bold;
    text-shadow:0px 0px 10px rgb(252, 252, 252);
    padding:40px 50px;
}
img{
    border-radius:40px 20px;
}
@keyframes scroll{
    0%{
        translate:200%;
    }
    100%{
        translate:-230%;
    }
}
#fler{
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;

}
